:root {
    --dark: #004602;
    --light: #d5dbff;
    
}

.jumbotron {
    padding: 0;
    background-color: var(--dark);
    color: var(--light);
}

.jumbotron h1 {
    padding: 2rem 0;
}

.container form {
    padding: 2rem 0;
}

.container-fluid {
    padding-left: 0;
}

.form-group label {
    font-size: xx-large;
}

.btn-group h2 {
    border-bottom: 2px black dashed;
    text-align: center;
}

.btn-group button {
    background-color: var(--dark);
    color: var(--light);
}

.btn-group :hover {
    background-color: var(--light);
    color: var(--dark);
}

#searches {
    color: var(--dark);
    font-weight: bolder;
}

#searchBtn {
    background-color: var(--dark);
    color: var(--light);
}

#current-day {
    border: 2px black solid;
    color: var(--dark);
}

#forecast .card {
    background-color: var(--dark);
    color: var(--light);
}

#city {
    font-weight: bolder;
}